.App {
    --header_height: 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hw {
    width: 1280px;
    height: 336px;
    margin-top: 42px;
    margin-left: 70px;
}

.hwTitle {
    width: 200px;
    height: 27px;
    margin-left: 70px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: var(--color);
}
