.friendMessage {
    position: relative;
    width: 100%;
    height: 77px;
    margin-top:30px;
}

.friendImageAndText {
    position: relative;
    width: 462px;
    height: 77px;

}

.friendImageAndText img {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    top: 12px;
    float: left;
}

.friendText {
    position: absolute;
    width: 402px;
    height: 60px;
    left: 60px;
    border-radius: 10px 10px 10px 0;
    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
}

.friendText:after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: -10px;
    bottom: 0px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-bottom: 10px solid #F5F7FB; /* Добавляем треугольник */
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03);
}

.friendName {
    position: relative;
    width: 35px;
    height: 20px;
    left: 15px;
    top: 8px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.friendMessageText {
    position: relative;
    width: 374px;
    height: 20px;
    left: 15px;
    top: 4px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.friendTime {
    position: relative;
    width: 29px;
    height: 12px;
    left: 80px;
    top: -12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
