.sendForm {
    position: relative;
    width: 1210px;
    height: 40px;
    top: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textarea {
    position: relative;
    display: block;
    width: 976px;
    height: 40px;

    padding-top: 11px;
    padding-bottom: 12px;
    resize: none;
    overflow: hidden;
    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-indent: 24px;
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
}

.button {
    position: relative;
    width: 120px;
    height: 40px;

    background: #0066CC;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border: transparent;
}

.button:hover {
    box-shadow:  0px 0px 10px 0px rgba(0, 102, 204, 0.9);
    font-size: 18px;
}
.button:active {
    background-color: darkturquoise;
}
