.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 10px;
    width: 133px;
    height: 30px;
    left: 574px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
}

.disabled {
    background: #004D99;
    opacity: 0.5;
}

.secondary {
    width: 129px;
    height: 30px;

    color: #0066CC;
    border: 1px solid #0066CC;
    border-radius: 3px;
}

.default {
    width: 116px;
    height: 30px;
    background: #0066CC;

    color: #FFFFFF;

}

.red {
    background: #CC1439;
}

.default:hover {
    background: #0b5094;
}

.red:hover {
    background: #ef3d61;
}

.secondary:hover {

}

.default:active {
    background: #73b4f6;
}

.secondary:active {

}

.red:active {
    background: #93152e;
}

.button:disabled {
    background: #004D99;
    opacity: 0.5;
}
